.form {
	display: flex;
	flex-direction: column;
	width: 250px;
	border: solid 1px black;
	border-radius: 3px;
	padding: 10px 5px;
	margin-bottom: 20px;
	outline: none;
	transition: border-color 250ms ease-in-out;
}
.form:hover {
	border-color: rgb(193, 147, 232);
}

.fieldName,
.fieldNumber {
	font-size: 15px;
	outline: none;
	border: solid 1px black;
	border-radius: 3px;
	padding: 3px;
	transition: border-color 250ms ease-in-out;
}
.fieldName:hover,
.fieldName:focus,
.fieldNumber:hover,
.fieldNumber:focus {
	border-color: rgb(193, 147, 232);
}

.labelNumber {
	margin-top: 15px;
}

.addBtn {
	font-weight: 500;
	width: max-content;
	margin: 10px auto 0;
	padding: 5px;
	border: none;
	border-radius: 3px;
	background-color: rgb(210, 194, 194);
	transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.addBtn:hover {
	background-color: rgb(193, 147, 232);
	color: white;
}
.error {
	color: red;
}